*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{

background:linear-gradient(135deg,#01251c,#043c2f);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;

}

.container{

width:1200px;
height:720px;
display:flex;
gap:30px;

}

/* TARJETAS */

.panel-left,
.panel-right{

flex:1;
background:rgba(0,0,0,0.25);
border-radius:20px;
padding:35px;
backdrop-filter:blur(12px);

}

/* PANEL IZQUIERDO */

.panel-left{

display:flex;
flex-direction:column;

}

.top{

display:flex;
align-items:center;
gap:15px;
margin-bottom:20px;

}

.logo{

width:50px;
height:50px;
background:white;
border-radius:10px;
padding:6px;

}

.top h1{

font-size:28px;

}

.top p{

font-size:14px;
color:#bdeed5;

}

.image-container{

flex:1;
display:flex;
justify-content:center;
align-items:center;

}

.bonsai{

height:420px;
width:auto;
border-radius:12px;

}

/* FEATURES */

.features{

display:flex;
flex-wrap:wrap;
gap:15px;

}

.item{

background:rgba(0,0,0,0.35);
padding:10px 15px;
border-radius:12px;
font-size:14px;
display:flex;
align-items:center;
gap:8px;

}

.dot{

width:8px;
height:8px;
background:#2ecc71;
border-radius:50%;

}

/* PANEL DERECHO */

.panel-right{

display:flex;
justify-content:center;
align-items:center;

}

.login-card{

width:80%;

}

.login-card h2{

font-size:32px;
margin-bottom:10px;

}

.desc{

font-size:15px;
color:#bdeed5;
margin-bottom:25px;

}

label{

font-size:14px;

}

input{

width:100%;
padding:14px;
margin:8px 0 18px;
border-radius:10px;
border:none;
background:#062d24;
color:white;

}

.password{

display:flex;
gap:10px;

}

.password input{

flex:1;

}

.show{

padding:12px 16px;
border:none;
border-radius:10px;
background:#0a3a2f;
color:white;
cursor:pointer;

}

.options{

display:flex;
justify-content:space-between;
font-size:13px;
margin-bottom:25px;

}

.options a{

color:#72f2b3;
text-decoration:none;

}

.login-btn{

width:100%;
padding:16px;
border:none;
border-radius:12px;
background:#35c46a;
font-size:16px;
cursor:pointer;

}

.login-btn:hover{

background:#2bb55d;

}